//Colors
$grey-color: #4C5865;
$light-grey-color:#7D90A6; 
$orange-color: #ff7f22;
$white-color: white;
$parag-color: #A3B8CC;

// Gradients
$orange-grad: linear-gradient(180deg, #FF7F22 0%, #FF5722 100%);
