.btn{
    @include size(200px, 48px);
    outline: none;    
    border: 2px solid; 
    border-radius: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;    
    text-align: center;
    cursor: pointer;
}