section.factory-section
    .side-bar
        p.side-bar__screen-number.
            05
    .factory-section__grid-container
        .factory-section__title-block
            h2.heading_md.factory-section__heading.
                Производство
        .factory-section__radio-block
            include ../../utils/radio.pug
            +radio("Тип биоробота", "type", "FrontEnd", "Design")
            +radio("Стабилизатор", "gender", "Male", "Female")
        .factory-section__parts-block
            include ../../utils/parts.pug
            +parts("#1","_active")
            +parts("#1","_active")
            +parts("#1","_active")
            +parts("#1","_disable")
            +parts("#2","_active")
            +parts("#2","_active")
            +parts("#2","_active")
            +parts("#2","_disable")
            +parts("#3","_active")
            
        .factory-section__img-block
            img.factory-section__robot-img(src="./img/robot_inactive.png" alt="Your biorobot")
        .factory-section__btn-block
            button.btn.btn_type3_disable.factory-section__btn.
                Произвести за 10 монет
        .factory-section__message-block
            p.paragraph_xs.factory-section__message.
                Для производства биоробота не хватает 2 биомеханизма, 3 процессора и души
