section.shop-section
    h2.shop-section__heading.heading_md.
        Рынок комплектующих
    .shop-section__card-block
        include ../../utils/shop-card.pug
        +shop-card("../src/img/robotHand.png", "Биомеханизм", "7")
        +shop-card("../src/img/processor.png", "Процессор", "5")
        +shop-card("../src/img/face.png", "Душа", "25")