section.storage-section
    h2.storage-section__heading.heading_md.
        Рынок комплектующих
    .storage-section__card-block
        include ../../utils/storage-card.pug
        +storage-card("Биомеханизм", "5", "2")
        +storage-card("Процессор", "3", "3")
        +storage-card("Душа", "15")