section.wallet-section
    .wallet-section__title-block
        h2.wallet-section__title.heading_md.
            Кошелек криптовалют
    .wallet-section__coins-block
        ul.coins
            
        .paragraph_md.
            <span class="wallet-section__coins-quantity">10</span>
                biorobo монет
    .wallet-section__action-block
        button.wallet-section__btn.
            Нацыганить
        label.checkbox.wallet-section__checkbox 
            input.checkbox__input(type="checkbox")
            span.checkbox__fake-checkbox
            span.checkbox__text.
                Цыганить по 5 монет