section.wallet-section
    .wallet-section__title-block
        h2.wallet-section__title.heading_md.
            Кошелек криптовалют
    .wallet-section__coins-block
        .coins-block__coins
            -let coinsQuantity = "45";
            -for (let i=0; i<coinsQuantity; i++)               
                img.coins-block__coins-item(src="../src/img/coin.png", alt="Монетка")            
        .paragraph_md.coins-block__coins-quantity= coinsQuantity+" биоробо монет"         
    .wallet-section__action-block
        button.action-block__btn.
            Нацыганить
        label.action-block__checkbox-label.checkbox.wallet-section__checkbox 
            input.checkbox__input(type="checkbox")
            span.checkbox__fake-checkbox
            span.action-block__checkbox-text.
                Цыганить по 5 монет