.action-block__checkbox-label{
    display: flex;
}
.action-block__checkbox-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    @include text-size(16px, 150%);
    color: $white-color;
}
.wallet-section__action-block{
    display: flex;
    margin-top: 43px;    
}
.action-block__btn{
    padding: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid $orange-color;
    background-color: transparent;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    @include text-size(16px, 24px);
    color: $orange-color;
    cursor: pointer;
    margin-right: 23px;
}

@import '../../ui-kit/checkbox/checkbox.scss';
