.wallet-section{
    padding-top: 110px;
    display: flex;
    flex-direction: column;
        // Coins-block
        @import "__coins-block";
        // Action-block
        @import "./__action-block";    
}
